
	<div class="container">
	  	<div class="aligner-item">
	  		<!-- <button class="loader" onClick="load()">Load!</button> -->

	  	    <button class="clicker" onClick="beanClick(1)">Count a Bean</button>
			<p>Beans: <span id="beans">0</span></p>
			<button class="upgrade-btn" onClick="buyMonkey()">Buy 1 Monkey</button>
	    	<p>Monkeys: <span id="monkeys">0</span><br /></p>
	    	<p>Cost: <span id="monkeyCost">10</span></p>
	    </div>
	</div>

	<script>
		var beans = 0;
		var monkeys = 0;
		var beanNumber = document.getElementById('beans')

		function beanClick(number) {
		  beans = beans + number;
		  document.getElementById("beans").innerHTML = beans;
		  // save();
		};

		function buyMonkey() {
		  var monkeyCost = Math.floor(10 * Math.pow(1.1,monkeys));
		  if(beans >= monkeyCost) {
		      monkeys = monkeys + 1;
		      beans = beans - monkeyCost;
		      document.getElementById('monkeys').innerHTML = monkeys; 
		      var nextCost = Math.floor(10 * Math.pow(1.1,monkeys));
		      document.getElementById('monkeyCost').innerHTML = nextCost;  
		    };
		    // save();
		};

		function timeKeeper() {
			console.log("tick")
			monkeyClick();
			beanNumber.innerHTML = beans;
			window.setTimeout(function(){ timeKeeper(monkeys); }, 1000);
		};

		function monkeyClick() {
			beans += monkeys;
		}

		timeKeeper();
	</script>