<html>
<head>
</head>
<body>

<html onload="load()">

	<div class="container">
	  	<div class="aligner-item">
	  		<!-- <button class="loader" onClick="load()">Load!</button> -->

	  	    <button class="clicker" onClick="beanClick(1)">Count a Bean</button>
			<p>Beans: <span id="beans">0</span></p>
			<button class="upgrade-btn" onClick="buyMonkey()">Buy 1 Monkey</button>
	    	<p>Monkeys: <span id="monkeys">0</span><br /></p>
	    	<p>Cost: <span id="monkeyCost">10</span></p>

	    	<%= content_tag :div, class: 'monkey-count', data: {monkey: @monkeys} do %>
			<% end %>
	    </div>
	</div>

	<script type="text/javascript" src="application.js"></script>

</body>
</html>